/* app css stylesheet */

.left-language-selector, .right-language-selector {
  width: 100%;
}

.language-container {
  list-style: none;
  position: relative;
  display: inline-block;
}

[role="button"] {
  border-top: 0.1em solid black;
  border-bottom: 0.1em solid black;
  background-color: #F8F8F8;
  font-size: 12px;
  font-weight: bold;
  padding: 0.4em;
}

[role="button"] .first {
  border-left: 0.1em solid black;
  border-radius: 0.1em 0 0 0.1em;
}

[role="button"] .last {
  border-left: 0.1em solid black;
  border-radius: 0 0.1em 0.1em 0;
}

/*.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}*/
