<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="translationStation" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="translationStation" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="translationStation" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Translation Station</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="/bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBingQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body ng-app="translationStation">
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <section class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div ng-include="'/angular_components/input/input.html'"></div>
      <div ng-include="'/angular_components/google-results/google-results.html'"></div>
      <div ng-include="'/angular_components/bing-results/bing-results.html'"></div>
      <div ng-include="'/angular_components/web-service-x-results/web-service-x-results.html'"></div>
    </div>
    <div class="col-md-3"></div>
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="/angular_components/app.js"></script>
  <script src="/angular_components/bing-results/bing-results.js"></script>
  <script src="/angular_components/google-results/google-results.js"></script>
  <script src="/angular_components/input/input.js"></script>
  <script src="/angular_components/web-service-x-results/web-service-x-results.js"></script>
</body>
</html>
