<div ng-controller="InputCtrl">

	<section class="row">
		<div class="col-md-6 io-container">
			<ul class="language-selector">
				<li ng-repeat="language in AllLanguages | filter:srcLangFilter | limitTo:3" 
					ng-click="setFromLang($event)" class="language-container">
					<div role="button" ng-class="{'first': $first, 'last': $last}">
						{{ language }}
					</div>
				</li>
				<input type="text" class="language-filter" ng-model="srcLangFilter" 
					placeholder="Search Languages">
			</ul>
			<textarea class="translation-input" ng-model="translationInput"
					ng-keyup="translate()"></textarea>
		</div>
		<div class="col-md-6 io-container">
			<ul class="language-selector">
				<li ng-repeat="language in AllLanguages | filter:destLangFilter | limitTo:3" 
					ng-click="setToLang($event)" class="language-container">
					<div role="button" ng-class="{'first': $first, 'last': $last}">
						{{ language }}
					</div>
				</li>
				<input type="text" class="language-filter" ng-model="destLangFilter" 
					placeholder="Search Languages">
				<button id="translate-btn" class="btn btn-primary btn-sm" 
					ng-click="translate()">Translate</button>
			</ul>
			<div ng-include="'/angular_components/bing-results/bing-results.html'" 
					class="translated-text bing"></div>
		</div>
	</section><br>

	<section class="row">
		<div class="col-md-6 io-container">
			<div ng-include="'/angular_components/frengly-results/frengly-results.html'"
				class="translated-text frengly"></div>
		</div>
		<div class="col-md-6 io-container">
			<div ng-include="'/angular_components/yandex-results/yandex-results.html'"
				class="translated-text yandex"></div>
		</div>
	</section><br>
</div>
