<form ng-controller="InputCtrl">
	<h2>Translate</h2>
	<textarea type="text" ng-model="$root.translationInput" placeholder="Your Phrase"></textarea>
	<br />
	from
	<ul>
		<input type="text" ng-model="fromLanguage">
		<li ng-repeat="language in AllLanguages | filter:fromLanguage" ng-click="setFromLang($event)">
			{{ language }}
		</li>
	</ul>
	to
	<ul>
		<input type="text" ng-model="toLanguage">
		<li ng-repeat="language in AllLanguages | filter:toLanguage" ng-click="setToLang($event)">
			{{ language }}
		</li>
	</ul>
	<h2>Results</h2>
	<p>
		{{ results }}
	</p>
	<button class="btn btn-primary">Translate</button>
</form>
