<section class="row">
	<nav class="col-md-12">
		<div class="left-container">
			<span id="google-logo-helper"></span>
			<a href="https://translate.google.com/?hl=en&tab=TT">
				<img src="/images/google_logo.png" id="google-logo"></img>
			</a>
		</div>
		<div class="right-container">
			<span class="left-buffer"></span>
			<i id="dropdown-btn" class="glyphicon glyphicon-th"></i>
			<span class="left-buffer"></span>
			<a href="https://yahoo.com">
				<button id="sign-in-btn" class="btn btn-primary">Sign in</button>
			</a>
		</div>
	</nav>
</section>

<section class="row">
	<div id="header-container" class="col-md-12">
		<div class="left-container">
			<a href="https://translate.google.com/"><p id="header">Translate</p></a>
		</div>
		<div class="right-container">
			<a href="http://google.com/+GoogleTranslate">
				<i id="google-plus-icon"></i>
			</a>
		</div>
	</div>
</section>
